.hide{
    display: none;
}

.card{
    margin-top: 25px;
}

.lead-product{
    margin: 20px 0px;
}

.lead-product h6{
    padding: 0px;
    margin: 0px;
}

.chat-summary-table{
   margin: 20px auto;

}

.navbar-collapse > .nav-list > a{
    color: white;
    border: thin solid red;
}
