.hide{
    display: none;
}

.card{
    /*margin-top: 25px;*/
}

.lead-product{
    margin: 20px 0px;
}

.lead-product h6{
    padding: 0px;
    margin: 0px;
}

.chat-summary-table{
   margin: 20px auto;

}

.navbar-collapse > .nav-list > a{
    color: white;
    border: thin solid red;
}

/*for task blade*/
.create-task{
    border-left: solid thick blue;
    border-radius: 5px;
}

.tomorrow-task{
    border-left: solid thick orange;
    border-radius: 5px;
}


.today-task{
    border-left: solid thick red;
    border-radius: 5px;
}

.done-task{
    border-left: solid thick green;
    border-radius: 5px;
}

.to-do-list{
    min-height: 60px;
    margin: auto;
    background-color: #CCCCCC;
    border-radius: 5px;
    z-index: 0;
}

.to-do-list ul{
    min-width: 98%;
}


.to-do-list li{
    min-height: 50px;
    margin-top: 10px;
    margin-left : -35px;
    background-color: white;
    border-radius: 5px;
    list-style: none;
    padding: 10px;
    text-align: center;
    z-index: 1;
}

.to-do-list li:hover{
    background-color: whitesmoke;
}

#today-list li:hover, #done-list li:hover, #toggle-create-todo-form{
    cursor: hand;
}

#create-todo-form input{
    margin-bottom: 5px;
}

.user-card{
    padding: 10px 10px 0px 10px;
    margin: 0px 0px 20px 0px;
    height: 110px;
}


/*SEARCH*/

.product-search{
    box-sizing: border-box;
    margin-top: 20px;
    padding: 20px 15px 20px 15px ;
    background-color: #30419b;
    color: white;
    /*font-size: 1.2rem;*/
}

.product-search div{
    padding-right: 20px;
    margin: 0px;
}

.product-search:first-child{
    padding-left: 30px;
    font-weight: normal;
}
